@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvinguts en aquest client de l'API de Pelis!</h1>
</div>
<div>
    @if (!Model.Films.Any())
    {
        <p>No s'han trobat pel·lícules.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Títol</th>
                    <th>Descripcio</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model.Films)
                {
                    <tr>
                        <td>@film.Name</td>
                        <td>@film.Description</td>
                        <td>@film.DirectorName</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
